python-dotenv>=1.0.1
django==4.2.20
daphne>=4.0.0
djangorestframework>=3.16.1
adrf>=0.1.9
django-cors-headers>=4.7.0
asyncio>=4.0.0
django-webpack-loader>=3.2.1
django-redis>=6.0.0
model-bakery>=1.20.5
django-rest-framework-async>=0.1.0
drf-yasg>=1.21.10
bcrypt>=4.3.0
channels[daphne]>=4.3.1
celery[redis]>=5.0.0
kombu[redis]>=5.0.0
redis-cli>=1.0.1
psycopg2-binary>=2.9.10
cfgv>=3.4.0
postgres>=4.0